.navbar-nav.navbar-center {
    /*position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0px);*/
}
.logo{
    position:absolute;left:0%;transform:translate(-0,0);
    z-index: 10;
    color: white;
}
.moto{
    position:absolute;left:127px;top:0;width:300px;overflow-wrap: break-word;
    font-size: 20px;
}


.button{
    color:white;
    font-size: small;
    text-align: center;
    background: black;
}
.button:hover{
    background: purple;
}
.form{
    display:block;
    border:solid 1px black;
    width:400px;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
}

.linkContainer{
    width:180px;
    margin:0 10px;
}
.linkContainer a{
    display: block;
    height:35px;
    width:180px;
    line-height: 35px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 10px;
    text-align: center;
}

.profileLinksMenu{
    display: flex;
    flex-wrap: wrap;
}
.calendar {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 10px;;
    font-size: 13px;
  }
  
.calendar tr, .calendar td {
border: 1px solid black;
}

.calendar th {
padding: 10px;
text-align: center;
background-color:black;
color:white;
}

.calendar td {
width: 14.3%;
height: 14.3%;
padding: 20px 0px 0px 5px;
background-color: aliceblue;
}
.home_calendar_with_title{
    min-width:100%;
}
.month {
}

.date {
overflow-wrap: break-all;
position:absolute;
top:0;
}

.home_cal{
    width:97%;
    height: 500px;
    margin: 0 10px;
}
.latest_result_container{
    width:100%;
    background-color:whitesmoke;
    margin: 0 10px;
}
.latest_result_with_title{
    min-width: 100%;
    margin: 0 10px;
}
.latest_result{
    border: 1px solid black;
    width:100%;
}
.latest_result td{
    text-align: center;
}
.home_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%
}
@media only screen and (max-width: 986px) {
    /* For mobile phones: */
    .navbar-nav.navbar-center {
        position: relative;
    }
    .logo{
        left:0%;transform:translate(0px,0);
    }
    .moto{
        font-size: 16px;
        width:150px;
    }
    .form{
        width:100%;
    }
}


