{% extends 'system/base.html' %}
    {% block title %} 
        {{post.title}}
    {% endblock %}

    {%block content%}
    <h1>{{post.title}}</h1>
    <style> table, td {
        border: 1px solid black;
    }</style>
    <small>By: {{ post.author.first_name }}
        {{post.author.last_name}}
    </small><br/>
    <hr>
    {% if  post.image%}
        <img src={{post.image.url}} style='height:300px'><br>
    {%endif%}
    {{post.body|safe}}
    

    <br/><br>
    <hr>
    <br/><br>
    <a href = "{% url 'news' %}" class = "btn btn-dark"> Back to News</a> - <a href = "{% url 'update_post' post.pk %}" class = "btn btn-success">Edit</a>
    - <a href = "{% url 'delete_post' post.pk %}" class = "btn btn-danger">Delete</a>

    {% endblock %}