{% extends 'system/base.html' %}
    {% block title %} 
        {{post.title}}
    {% endblock %}

    {%block content%}
    <h1>{{post.title}}</h1>
    <style> table, td {
        border: 1px solid black;
    }</style>
    <small>By: {{ post.author.first_name }}
        {{post.author.last_name}}
    </small><br/>
    <hr>
    {{post.body|safe}}<br/>
    {% if post.image %}
        <img src="{{post.image.url}}">
    {%else%}
    {%endif%}

    <br/><br>
    <hr>
    <br/><br>
    <a href = "{% url 'newsfront' %}" class = "btn btn-dark"> Back to News</a> 
    {% endblock %}