{% extends 'system/base.html' %}
    {% block title %} 
        {{post.title}}
    {% endblock %}

    {%block content%}
    <h1>{{post.title}}</h1>
    <small>By: {{ post.author.first_name }}
        {{post.author.last_name}}
    </small><br/>
    <hr>
    {% if  post.image%}
    <img src={{post.image.url}} style='height:300px'><br>
    {%endif%}
    {{post.body}}
    

    <br/><br>
    <hr>
    <br/><br>
    <a href = "{% url 'newsfront' %}" class = "btn btn-dark"> Back to News</a> 
    {% endblock %}