{% extends 'system/base.html' %}
    {% block title %} 
        Elite-FC News 
    {% endblock %}

    {%block content%}
    <h1>News</h1>
    <hr>
        <a href = "/" class = "btn btn-dark btn-sm"> Go Back</a> 
    <div style="line-height:0.8;display:flex;flex-wrap:wrap">  
    {% load custom_tags%}  
    {% for post in object_list %}
    {% with link=''%}
        <div style='position:relative;width:300px;background:aliceblue;height:300px;padding-bottom:10px;margin:10px;border:1px solid grey'>
            <div style='width:300px;height:150px;background-image: url({{link|returnImageURLOrEmpty:post.image}});background-size: cover;'>
            </div>
                <a style= 'position:absolute; height:100%; width:100%;top:0;left:0'href ="{% url 'article-detailfront' post.pk %}"></a>
                <div style='line-height:20px'>
                    <h5>{{post.title}}</h5>
                    By: {{post.author}} 
                </div>
        </div>
    {%endwith%}
    {% endfor %}
    </div>

    {% endblock %}