{% extends 'system/base.html' %}
    {% block title %} 
        Elite-FC Players 
    {% endblock %}

    {%block content%}
    <h1>Player Info</h1>
        <a href = "/Profile" class = "btn btn-dark btn-sm"> Go Back</a> 
        <a href = "{% url 'add_player' %}" class = "btn btn-success btn-sm"> Add Player</a> 
    <ul>
    {% for playerstat in object_list %}
    <p style="line-height:0.8">
        <li>
            <a href ="{% url 'player-detail' playerstat.id %}">
                {{playerstat.user}}</a> - <small><a href = "{% url 'update_player' playerstat.id %}" class = "btn btn-success btn-sm">Edit</a>
                </small> - <small><a href = "{% url 'delete_player' playerstat.id %}" class = "btn btn-danger btn-sm">Delete</a></small>
        </li>
    {% endfor %}
    </p>
    </ul> 
    
    {% endblock %}